
body{
  margin: 0;
  padding: 0;
}
.info{
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 20%;
  height: 80%;
  background-color: transparent;
  border: 1px solid black
}