@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-image: url(imageWeather/снежнаяПогодаФон.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.weatherMainWin{
  height: 100vh;
  width: 100%;
}
.water{
  height: 100vh;
  background-image: url(weather/snow.png);
  animation: water 0.2s linear infinite;
}
@keyframes water {
  from{
    background-position: 0 0 ;
  }
  to{
    background-position: -20px 100px;
  }
}
p{
  margin: 0;
  padding: 0;
}
.info{
  position: absolute;
  top: 0;
  right: 1px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 20%;
  height: 80%;
  background-color: rgb(112, 202, 253);
  border:1px solid rgb(80, 229, 255);
  border-radius: 25px;
  font-size: 20px;
}
.weatherApp{
  position: relative;
  top: 0;
}
.cityType{
  display: flex;
  flex-direction: column;
}
.textInfo{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  border: 1px solid rgb(108, 130, 189);
  border-left:0px;
  border-right: 0px;
  border-top: 0px;
  border-radius:25px 25px 0px 0px ;
  padding-bottom: 5px;
  color: rgb(174, 175, 255);
  background-color: rgb(41, 72, 162);
}
.containerTypeCity{
  display: flex;
  justify-content: end;
  border: 1px solid black;
  border-left:0px;
  border-right: 0px;
  border-top: 0px;
  padding-bottom:20px ;
  padding-top: 20px;
}
#city{
  width: 80%;
  padding: 5px;
  border-radius: 25px 0px 0px 25px ;
  border: none;
  padding-right:10px ;
  font-size: 18px;
}
#city:focus{
  outline: none;
}
#button{
  width: 20%;
  height: 100%;
  border: none;
  color: rgb(198, 138, 255);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(112, 158, 255);
  font-weight:bold;
  cursor: pointer;
}
.infoCity{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
  align-items: center;
   color: rgb(25, 0, 255);
   font-size: 30px;
  font-family:"Alumni Sans";
}
.imageInfo{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border:1px solid rgb(41, 72, 162);
  background-image:url(imageWeather/солнечнаяПогода.png) ;
  background-size: cover;
  
}