@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
p{
  margin: 0;
  padding: 0;
}
.info{
  position: absolute;
  top: 0;
  right: 1px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 20%;
  height: 80%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 20px;
}
.weatherApp{
  position: relative;
  top: 0;
}
.cityType{
  display: flex;
  flex-direction: column;
}
.textInfo{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  border: 1px solid black;
  border-left:0px;
  border-right: 0px;
  border-top: 0px;
  padding-bottom: 5px;
}
.containerTypeCity{
  display: flex;
  justify-content: end;
  border: 1px solid black;
  border-left:0px;
  border-right: 0px;
  border-top: 0px;
  padding-bottom:20px ;
  padding-top: 20px;
}
#city{
  width: 80%;
  padding: 5px;
  border-radius: 25px 0px 0px 25px ;
  border: 1px solid;
  padding-right:10px ;
}
#button{
  width: 20%;
  height: 100%;
  border: none;
  color: white;
  background-color: black;
  font-weight:bold;
}
.infoCity{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
  align-items: center;
}
.imageInfo{
  object-fit: contain;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
}